In [30]:
import pandas as pd
import os
import numpy as np
import statsmodels.api as sm;
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
os.getcwd()
os.chdir('C:/Users/jdyyy9501/Desktop/text')

'C:\\Users\\jdyyy9501\\Desktop\\text'

In [67]:
df2 = pd.read_csv('text4.csv' , encoding='euc-kr')

In [88]:
df2

,영상길이(초),카테고리,제목,인기구단포함여부,결과표현방식,날짜,조회수,intercept,B,C,2,3
0,697,하이라이트[전체HL],"'6회 빅이닝' NC, 롯데 꺾고 시범경기 3연패 탈출",A,B,2022.03.22,13267,1,1,0,0,0
1,626,하이라이트[전체HL],두산-KIA 끈질긴 승부 끝에 4-4 무승부,A,C,2022.03.22,37605,1,0,1,0,0
2,748,하이라이트[전체HL],"KT, 한화 제압하며 시범경기 2연승",B,A,2022.03.22,12199,1,-1,-1,0,0
3,627,하이라이트[전체HL],"'수아레즈 무실점+김상수 홈런' 삼성, 키움 잡고 시범경기 3연승",B,A,2022.03.22,37164,1,-1,-1,0,0
4,594,하이라이트[전체HL],"'송찬의 멀티 홈런' LG, SSG에 전날 패배 설욕",A,B,2022.03.22,56307,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
283,543,하이라이트[전체HL],"'선발 전원 득점' KT, LG 11-0으로 완승 거두며 3연승 질주",A,A,2021.09.05,17778,1,-1,-1,0,0
284,899,하이라이트[전체HL],"'김민우 데뷔 첫 10승' 한화, KIA 꺾고 3연패 탈출",B,B,2021.09.04,34311,1,1,0,0,0
285,750,하이라이트[전체HL],"'몽고메리 첫 승+타선 폭발' 삼성, 두산 꺾고 5연승",A,A,2021.09.04,62214,1,-1,-1,0,0
286,420,하이라이트[전체HL],"'득점 지원+박세웅 QS+' 롯데, 8-2로 NC에 완승",A,A,2021.09.04,61199,1,-1,-1,0,0
287,488,하이라이트[전체HL],"'최원태 호투+박병호 만루홈런' 키움, SSG에 승리",A,A,2021.09.04,16174,1,-1,-1,0,0

In [106]:
box = df2.groupby(['인기구단포함여부']).결과표현방식()

TypeError: 'SeriesGroupBy' object is not callable

In [105]:
box

In [102]:
plt.boxplot(box['조회수'])

KeyError: '조회수'

In [111]:
df2

,영상길이(초),카테고리,제목,인기구단포함여부,결과표현방식,날짜,조회수,intercept,B,C,2,3
0,697,하이라이트[전체HL],"'6회 빅이닝' NC, 롯데 꺾고 시범경기 3연패 탈출",A,B,2022.03.22,13267,1,1,0,0,0
1,626,하이라이트[전체HL],두산-KIA 끈질긴 승부 끝에 4-4 무승부,A,C,2022.03.22,37605,1,0,1,0,0
2,748,하이라이트[전체HL],"KT, 한화 제압하며 시범경기 2연승",B,A,2022.03.22,12199,1,-1,-1,0,0
3,627,하이라이트[전체HL],"'수아레즈 무실점+김상수 홈런' 삼성, 키움 잡고 시범경기 3연승",B,A,2022.03.22,37164,1,-1,-1,0,0
4,594,하이라이트[전체HL],"'송찬의 멀티 홈런' LG, SSG에 전날 패배 설욕",A,B,2022.03.22,56307,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
283,543,하이라이트[전체HL],"'선발 전원 득점' KT, LG 11-0으로 완승 거두며 3연승 질주",A,A,2021.09.05,17778,1,-1,-1,0,0
284,899,하이라이트[전체HL],"'김민우 데뷔 첫 10승' 한화, KIA 꺾고 3연패 탈출",B,B,2021.09.04,34311,1,1,0,0,0
285,750,하이라이트[전체HL],"'몽고메리 첫 승+타선 폭발' 삼성, 두산 꺾고 5연승",A,A,2021.09.04,62214,1,-1,-1,0,0
286,420,하이라이트[전체HL],"'득점 지원+박세웅 QS+' 롯데, 8-2로 NC에 완승",A,A,2021.09.04,61199,1,-1,-1,0,0
287,488,하이라이트[전체HL],"'최원태 호투+박병호 만루홈런' 키움, SSG에 승리",A,A,2021.09.04,16174,1,-1,-1,0,0

In [117]:
df2['날짜'] = pd.to_datetime(df2['날짜'])

In [118]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   영상길이(초)    288 non-null    int64
 1   카테고리       288 non-null    object
 2   제목         288 non-null    object
 3   인기구단포함여부   288 non-null    object
 4   결과표현방식     288 non-null    object
 5   날짜         288 non-null    datetime64[ns]
 6   조회수        288 non-null    int64
 7   intercept  288 non-null    int64
 8   B          288 non-null    int64
 9   C          288 non-null    int64
 10  2          288 non-null    int64
 11  3          288 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(4)
memory usage: 27.1+ KB

In [108]:
df2.describe()

,영상길이(초),조회수,intercept,B,C,2,3
count,288.000000,288.000000,288.0,288.000000,288.000000,288.0,288.0
mean,623.173611,31235.284722,1.0,-0.635417,-0.604167,0.0,0.0
std,120.268070,20741.992680,0.0,0.674882,0.725050,0.0,0.0
min,353.000000,3425.000000,1.0,-1.000000,-1.000000,0.0,0.0
25%,527.000000,15323.250000,1.0,-1.000000,-1.000000,0.0,0.0
50%,618.000000,26502.500000,1.0,-1.000000,-1.000000,0.0,0.0
75%,697.500000,42631.250000,1.0,0.000000,0.000000,0.0,0.0
max,1054.000000,98952.000000,1.0,1.000000,1.000000,0.0,0.0

In [85]:
df2.head()

,영상길이(초),카테고리,제목,인기구단포함여부,결과표현방식,날짜,조회수,intercept,B,C,2,3
0,697,하이라이트[전체HL],"'6회 빅이닝' NC, 롯데 꺾고 시범경기 3연패 탈출",A,B,2022.03.22,13267,1,1,0,0,0
1,626,하이라이트[전체HL],두산-KIA 끈질긴 승부 끝에 4-4 무승부,A,C,2022.03.22,37605,1,0,1,0,0
2,748,하이라이트[전체HL],"KT, 한화 제압하며 시범경기 2연승",B,A,2022.03.22,12199,1,-1,-1,0,0
3,627,하이라이트[전체HL],"'수아레즈 무실점+김상수 홈런' 삼성, 키움 잡고 시범경기 3연승",B,A,2022.03.22,37164,1,-1,-1,0,0
4,594,하이라이트[전체HL],"'송찬의 멀티 홈런' LG, SSG에 전날 패배 설욕",A,B,2022.03.22,56307,1,1,0,0,0

In [71]:
pd.get_dummies(df2.인기구단포함여부)

     A  B
0    1  0
1    1  0
2    0  1
3    0  1
4    1  0
..  .. ..
283  1  0
284  0  1
285  1  0
286  1  0
287  1  0

[288 rows x 2 columns]

In [74]:
df2['intercept'] = 1
df_new = df2.join(pd.get_dummies(df2.인기구단포함여부))
sm.OLS(df_new['조회수'], df_new[['A','B','intercept']]).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    조회수   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.6989
Date:                Thu, 24 Mar 2022   Prob (F-statistic):              0.404
Time:                        10:47:56   Log-Likelihood:                -3270.5
No. Observations:                 288   AIC:                             6545.
Df Residuals:                     286   BIC:                             6552.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
A           1.138e+04   1222.908      9.302      0.000    8968.613    1.38e+04
B           9212.5283   1491.270      6.178      0.000    6277.272    1.21e+04
intercept   2.059e+04    862.484     23.871      0.000    1.89e+04    2.23e+04
==============================================================================
Omnibus:                       41.485   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.022
Skew:                           1.041   Prob(JB):                     1.13e-12
Kurtosis:                       3.500   Cond. No.                     4.51e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.23e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
df2.head()

,영상길이(초),카테고리,제목,인기구단포함여부,결과표현방식,날짜,조회수,intercept,B,C,2,3
0,697,하이라이트[전체HL],"'6회 빅이닝' NC, 롯데 꺾고 시범경기 3연패 탈출",A,B,2022.03.22,13267,1,1,0,0,0
1,626,하이라이트[전체HL],두산-KIA 끈질긴 승부 끝에 4-4 무승부,A,C,2022.03.22,37605,1,0,1,0,0
2,748,하이라이트[전체HL],"KT, 한화 제압하며 시범경기 2연승",B,A,2022.03.22,12199,1,-1,-1,0,0
3,627,하이라이트[전체HL],"'수아레즈 무실점+김상수 홈런' 삼성, 키움 잡고 시범경기 3연승",B,A,2022.03.22,37164,1,-1,-1,0,0
4,594,하이라이트[전체HL],"'송찬의 멀티 홈런' LG, SSG에 전날 패배 설욕",A,B,2022.03.22,56307,1,1,0,0,0

In [ ]:
sm.OLS(df_new['price'], df_new[['intercept', 'B', 'C']]).fit().summary()

In [80]:
def dummy_cat(df2, col):
    '''
    INPUT:
    df - the dataframe where col is stored
    col - the categorical column you want to dummy (as a string)
    OUTPUT:
    df - the dataframe with the added columns
         for dummy variables using 1, 0, -1 coding
    '''
    for idx, val_0 in enumerate(df[col].unique()):
        if idx + 1 < df2[col].nunique():            
            df2[val_0] = df2[col].apply(lambda x: 1 if x == val_0 else 0)
        else:    
            df2[val_0] = df2[col].apply(lambda x: -1 if x == val_0 else 0)
            for idx, val_1 in enumerate(df[col].unique()):
                if idx + 1 < df2[col].nunique():
                    df2[val_1] = df2[val_0] + df2[val_1]
                else:
                    del df2[val_1]
    return df2

new_df = dummy_cat(df2, '결과표현방식') # Use on style
new_df.head(10)

,영상길이(초),카테고리,제목,인기구단포함여부,결과표현방식,날짜,조회수,intercept,B,C,2,3
0,697,하이라이트[전체HL],"'6회 빅이닝' NC, 롯데 꺾고 시범경기 3연패 탈출",A,B,2022.03.22,13267,1,1,0,0,0
1,626,하이라이트[전체HL],두산-KIA 끈질긴 승부 끝에 4-4 무승부,A,C,2022.03.22,37605,1,0,1,0,0
2,748,하이라이트[전체HL],"KT, 한화 제압하며 시범경기 2연승",B,A,2022.03.22,12199,1,-1,-1,0,0
3,627,하이라이트[전체HL],"'수아레즈 무실점+김상수 홈런' 삼성, 키움 잡고 시범경기 3연승",B,A,2022.03.22,37164,1,-1,-1,0,0
4,594,하이라이트[전체HL],"'송찬의 멀티 홈런' LG, SSG에 전날 패배 설욕",A,B,2022.03.22,56307,1,1,0,0,0
5,570,하이라이트[전체HL],"'폰트 호투+불펜 무실점' SSG, LG에 5-0 승리",A,A,2022.03.21,14749,1,-1,-1,0,0
6,623,하이라이트[전체HL],"두산, 5연패 후 KIA 잡고 시범경기 첫 승",A,B,2022.03.21,30550,1,1,0,0,0
7,738,하이라이트[전체HL],"'홈런 공방전' 한화-KT, 6-6 무승부",B,C,2022.03.21,29535,1,0,1,0,0
8,629,하이라이트[전체HL],"'이대호 결승타' 롯데, NC 꺾고 시범경기 파죽의 5연승",A,A,2022.03.21,48587,1,-1,-1,0,0
9,629,하이라이트[전체HL],"'김동엽 끝내기' 삼성, 키움 꺾고 시범경기 2연승",B,A,2022.03.21,29082,1,-1,-1,0,0

In [81]:
new_df['intercept'] = 1

lm = sm.OLS(new_df['조회수'], new_df[['intercept', 'B', 'C']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    조회수   R-squared:                       0.056
Model:                            OLS   Adj. R-squared:                  0.050
Method:                 Least Squares   F-statistic:                     8.519
Date:                Thu, 24 Mar 2022   Prob (F-statistic):           0.000255
Time:                        10:53:59   Log-Likelihood:                -3262.5
No. Observations:                 288   AIC:                             6531.
Df Residuals:                     285   BIC:                             6542.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   2.744e+04   1654.880     16.582      0.000    2.42e+04    3.07e+04
B           1296.6422   2645.194      0.490      0.624   -3909.953    6503.237
C          -7644.1924   2462.169     -3.105      0.002   -1.25e+04   -2797.850
==============================================================================
Omnibus:                       33.396   Durbin-Watson:                   1.866
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.775
Skew:                           0.921   Prob(JB):                     8.48e-10
Kurtosis:                       3.303   Cond. No.                         4.25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""